div.box{
	border: 1px solid black;
	width: 150px;
	height: 50px;
	padding: 10px;
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
}

a:link {
	color: purple;
}

div#red {
	background-color: red;
}

div#orange {
	background-color: orange;
	margin-left: 30px;
}

div#yellow {
	background-color: yellow;
	margin-left: 60px;
}

div#green {
	background-color: green;
	margin-left: 90px;
}

div#blue {
	background-color: blue;
	margin-left: 120px;
}

div#violet {
	background-color: violet;
	margin-left: 150px;
}